<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>SmartClicker</servlet-name>
		<servlet-class>smartclicker.SmartClickerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SmartClicker</servlet-name>
		<url-pattern>/smartclicker</url-pattern>
	</servlet-mapping>
	
	 <servlet>
        <servlet-name>Teacher</servlet-name>
        <servlet-class>smartclicker.SmartTeacherState</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Teacher</servlet-name>
        <url-pattern>/teacher</url-pattern>
    </servlet-mapping> 
   
    
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>smartclicker.RegisterIdServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    
    
    
    
    
    
    
    <servlet>
        <servlet-name>Student</servlet-name>
        <servlet-class>smartclicker.SmartStudentState</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Student</servlet-name>
        <url-pattern>/student</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Results</servlet-name>
        <servlet-class>smartclicker.DisplayResultsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Results</servlet-name>
        <url-pattern>/results</url-pattern>
    </servlet-mapping>
	
	
	<servlet>
        <servlet-name>RegisterId</servlet-name>
        <servlet-class>smartclicker.RegisterIdServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>RegisterId</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>

	
	
	<welcome-file-list>
		<welcome-file>home.jsp</welcome-file>
	</welcome-file-list>
</web-app>
